body {
  margin:0;
}
li {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}
footer {
  background-color: black;
  text-align: center;
}
/*
body{
    
}*/

/* Menu horizontal */

.menu {
  margin-left: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: #aeaeae;
}

nav ul {
  list-style-type: none;
  margin-left: 300px;
  padding: 0px;
}

nav li {
  float: left;
}

nav {
  padding: 10px;
  margin: 20px;
}

li {
  display: inline-block;
  margin-right: 20px;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 15px;
  color: #ff9933;
  text-transform: uppercase;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  color: #aeaeae;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
  color: #aeaeae;
}

button {
  background-color: #ff9933;
  border-radius: 2px;
  border-width: 2px;
  border-color: transparent;
  padding: 10px 30px;
  margin-top: 20px;
}

button:hover {
    background-color: #FFFFFF;
    border: 2px solid #ff9933;
  }

.Home-Img {
  display: flex;
  justify-content: center;
  height: 850px;
}

/*NOSOTROS*/
.Imagen-2 {
  width: 500px;
  float: right;
  /*height: 50%;*/
}

.NOSOTROS {
  display: inline-block;
  width: 50%;
  margin-left: 130px;
  margin-top: 100px;
}

.nos {
  width: 70%;
}

/* FORMULARIO */
input[type="text"], input[type="email"], input[type="tel"], textarea {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 6px 0;
  box-sizing: border-box;
  background-color: #EAEAEA;
  
}

input[type="submit"] {
  background-color: #ff9933;
  padding: 10px 30px;
  border-radius: 2px ;
  margin-bottom: 20px;
  border: transparent;
}

.CONTACTO {
  margin-left: 200px;
  margin-top: 100px;
}
.form {
  margin-top: 20px;
  margin-bottom: 40px;
}

.campo {
  font-size: 10px;
  color: red;
}

input[type="submit"]:hover {
  background-color: #FFFFFF;
  border: 2px solid #ff9933;
}

form input:required {
  content:"*";
}


/*
#NUESTROS-CURSOS {
   
aca dejo para hacer degradado de color, pero no me funciona; asi q lo saque del FIGMA
la linea background attachment:fixed hace q el degradado se ajuste dinamicamente al tamaño de la pag
lo mismo que la imagen principal
background: linear-gradient(top #ff9933, bottom #000000);
    background-repeat: no-repeat;
    background-attachment:fixed;
    
}
*/
/*FOOTER comienzo */

.footer {
  margin-left: auto;
}
.imgfoo {
  margin-right: 800px;
}

.redes {
  margin-left: 600px;
  margin-bottom: 10px;
}

.datosfooter {
  color: white;
  margin-left: 450px;
}

.copy {
  font-size: 10px;
}

.flecha-arriba {
  height: 12px;
  margin-bottom: 10px;
 

}

/*FOOTER fin */

.Home-subtitulo {
color: #ff9933;
text-transform: uppercase;
font-weight: 700;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.contenedor-padre{
  padding-top: 50px;
  padding-bottom: 20%;
  padding-left: 10%;
  padding-right: 10%;
  height: 500px;
  background-color: #000;
  color:#ffffff;
  flex-direction: row;
  display:flex;
  gap: 5%;
  
  
}
.CajaA {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #000;
  color:#ffffff;
  display:flex;
}
.Caja1 {
 
  top: 10%;
}
.Caja2 {
 
  top: 10%;
}
.Caja3 {
 
  top: 10%;
}
#Imagen-a {
  padding: 5%;

}
